In [1]:
# Create connection:
import mysql.connector
import pandas as pd
def query(query):
        mySql_connector = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="",
        database="leedcode_test"
        )
        data= pd.read_sql_query(query , mySql_connector)
        return data
query("""
SELECT * FROM cinema;""")

   seat_id  free
0        1     1
1        2     0
2        3     1
3        4     1
4        5     1

In [ ]:
https://blog.csdn.net/qq_21201267/article/details/107432640