Write a SQL query to delete all duplicate email entries in a table named Person, keeping only unique emails based on its smallest Id.


| Id | Email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |

Id is the primary key column for this table.
For example, after running your query, the above Person table should have the following rows:


| Id | Email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |

Note:

Your output is the whole Person table after executing your sql. Use delete statement.


```mysql
use leetcode;
 
drop table if exists person;
create table person (id int, email text);
truncate table person;
 
insert into person values(1, 'john@example.com');
insert into person values(2, 'bob@example.com');
insert into person values(3, 'john@example.com');
```

In [14]:
# Create connection:
import mysql.connector
import pandas as pd
def query(query):
        mySql_connector = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="new_passowrd",
        database="leedcode_test", 
        auth_plugin='mysql_native_password' # required
        )
        data= pd.read_sql_query(query , mySql_connector)
        return data

In [16]:
query("""
# Write your MySQL query statement below
DELETE p1 FROM Person p1,
    Person p2
WHERE
    p1.Email = p2.Email AND p1.Id > p2.Id
""")