 Write a SQL query to get the second highest shipping fee from the orders table. 

show column name as SecondHighestShippinFee 

if no value, write "there is no Shpping Fee here" and

In [1]:
# Create connection:
import mysql.connector
import pandas as pd
def query(query):
        mySql_connector = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="",
        database="northwind"
        )
        data= pd.read_sql_query(query , mySql_connector)
        return data

In [2]:
query("""
select distinct o.shipping_fee
from orders as o
order by shipping_fee desc ;

""")

    shipping_fee
0          300.0
1          200.0
2          100.0
3           60.0
4           50.0
5           40.0
6           12.0
7           10.0
8            9.0
9            7.0
10           5.0
11           4.0
12           0.0

In [3]:
query("""

select ifnull( 
(select distinct o.shipping_fee
from orders as o
order by shipping_fee desc limit 1 offset 1)  , "there is no Shpping Fee here"
)  as SecondHighestShippinFee ;



""")

  SecondHighestShippinFee
0                200.0000