A pupil Tim gets homework to identify whether three line segments could possibly form a triangle.
 

However, this assignment is very heavy because there are hundreds of records to calculate.
 

Could you help Tim by writing a query to judge whether these three sides can form a triangle, assuming table triangle holds the length of the three sides x, y and z.
 

| x  | y  | z  |
|----|----|----|
| 13 | 15 | 30 |
| 10 | 20 | 15 |

For the sample data above, your query should return the follow result:

| x  | y  | z  | triangle |
|----|----|----|----------|
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |

mysql schema:

```mysql

drop table if exists triangle;
Create table If Not Exists triangle (x int, y int, z int);
Truncate table triangle;
 
insert into triangle (x, y, z) values ('13', '15', '30');
insert into triangle (x, y, z) values ('10', '20', '15');

```

In [2]:
# Create connection:
import mysql.connector
import pandas as pd
def query(query):
        mySql_connector = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="new_passowrd",
        database="leedcode_test", 
        auth_plugin='mysql_native_password' # required
        )
        data= pd.read_sql_query(query , mySql_connector)
        return data

In [8]:
query("""
select temp.triangle 
from
	(select * ,
		CASE 
			WHEN x+y < z AND x+z < y AND y+z < x THEN "Yes"
			ELSE "No"
		END   AS triangle
	from triangle ) as temp

""")

  triangle
0       No
1       No

In [6]:
query('''
SELECT 
    CASE
        WHEN x + y > z AND x + z > y AND y + z > x THEN 'Yes'
        ELSE 'No'
    END AS 'triangle'
FROM
    triangle
;
''')

  triangle
0       No
1      Yes