 Table products contains many numbers in column target_level including duplicated ones.
Can you write a SQL query to find the biggest number, which only appears once. 
If there is no such number, just output null.

In [4]:
# Create connection:
import mysql.connector
import pandas as pd
def query(query):
        mySql_connector = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="",
        database="northwind"
        )
        data= pd.read_sql_query(query , mySql_connector)
        return data

In [5]:
query("""
SELECT IFNULL(	(SELECT target_level 
FROM products
GROUP BY target_level  
HAVING COUNT(target_level) = 1
ORDER BY target_level DESC
LIMIT 1)	,  NULL) AS num;
""")

   num
0  125


The GROUP BY statement groups rows that have the same values into summary rows, like "find the number of customers in each country".
The GROUP BY statement is often used with aggregate functions (COUNT, MAX, MIN, SUM, AVG) to group the result-set by one or more columns by using HAVING.
GROUP BY Syntax
```mysql
query('''
SELECT column_name(s)
FROM table_name
WHERE condition
GROUP BY column_name(s)
ORDER BY column_name(s);
```